.card-days-schedule {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

.row-clinic-schedule {
	margin-bottom: 0px !important; 
}

.time-range-container {
	margin-bottom: 0px !important; 
}
.remove-time-range-parent{
	margin: auto !important;
}